[alias]
        hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	co = checkout
	br = branch
	ci = commit
	st = status
[color]
	ui = true
[core]
	autocrlf = false
        safecrlf = true
        editor = vim
[user]
	name = dirtysalt
	email = dirtysalt1987@gmail.com
[push]
	default = simple
